[Bb]in/
[Oo]bj/
*.userprefs
test-results/
TestResults/
src/.vs/*
*.suo
*.user
**/packages/*
/build/nuget-unsigned/
/build/nuget-signed/
/build/TimeStampClientCmd/
/build/TimeStampClientGui.Linux/
/build/TimeStampClientGui.MacOs.app/
/build/TimeStampClientGui.Windows/