<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>TimeStampClientGui</string>
    <key>CFBundleIdentifier</key>
    <string>sk.disig.opensource.TimeStampClientGui</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.12</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) 2016-2021 Disig a.s.</string>
    <key>CFBundleIconFile</key>
    <string>TimeStampClientGui.icns</string>
  </dict>
</plist>
